@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Headings */
.heading-1 {
    @apply text-heading-1 leading-heading-1 mb-heading-1 font-heading font-bold;
}

.heading-2 {
    @apply text-heading-2 leading-heading-2 mb-heading-2 font-heading font-bold;
}

.heading-3 {
    @apply text-heading-3 leading-heading-3 mb-heading-3 font-heading font-bold;
}

.heading-4 {
    @apply text-heading-4 leading-heading-4 mb-heading-4 font-heading font-bold;
}

.heading-5 {
    @apply text-heading-5 leading-heading-5 mb-heading-5 font-bold;
}

.heading-6 {
    @apply text-heading-6 leading-heading-6 mb-heading-6 font-bold;
}

/* Buttons */
.btn {
    @apply px-4 py-2  transition-all rounded-md;
}

.btn.btn-primary{
    @apply bg-primary hover:bg-primary-accentuation active:bg-primary transition-all text-white;
}

.btn.btn-secondary{
    @apply bg-secondary hover:bg-secondary-accentuation transition-all active:bg-secondary text-white;
}

.btn.btn-tertiary{
    @apply bg-tertiary hover:bg-tertiary-accentuation transition-all active:bg-tertiary text-white;
}

/* Links */
.link{
    @apply underline transition-all;
}

.link.link-primary{
    @apply text-primary hover:text-primary-accentuation;
}

.link.link-secondary{
    @apply text-secondary hover:text-secondary-accentuation;
}

.link.link-tertiary{
    @apply text-tertiary hover:text-tertiary-accentuation;
}

.link.link-white{
    @apply text-white hover:text-white;
}
