<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome to the .NET Community Cameroon website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta http-equiv="cache-control" content="max-age=86400">
    <meta name="keywords" content=".NET, .NET Community, Cameroon, .NET Events, .NET Resources, .NET Developers">
    <meta name="author" content=".NET Community Cameroon">
    <meta name="theme-color" content="#5A67D8">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://dotnetcameroon.azurewebsites.net">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content=".NET Community Cameroon">
    <meta property="og:description" content="Welcome to the .NET Community Cameroon website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta property="og:image" content="https://dotnetcameroon.azurewebsites.net/assets/logo.png">
    <meta property="og:url" content="https://dotnetcameroon.azurewebsites.net">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=".NET Community Cameroon">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=".NET Community Cameroon">
    <meta name="twitter:description" content="Welcome to the .NET Community Cameroon website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta name="twitter:image" content="https://dotnetcameroon.azurewebsites.net/assets/logo.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="/references/schema.json" type="application/ld+json">
    </script>

    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
