<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="max-age=86400">
    <meta name="keywords" content=".NET, .NET Community, Cameroon, .NET Events, .NET Resources, .NET Developers">
    <meta name="author" content=".NET Cameroon Community">
    <meta name="theme-color" content="#5A67D8">

    <!-- Canonical Link -->
    <link rel="canonical" href="https://dotnetcameroon.azurewebsites.net">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <script src="/references/schema.json" type="application/ld+json">
    </script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <base href="/" />
    <link rel="stylesheet" href="@Assets["/libs/css/all.css"]">
    <link rel="stylesheet" href="@Assets["/libs/css/fontawesome.css"]">
    <link rel="stylesheet" href="@Assets["/app.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script> <!-- This script enables Enhanced Navigation, which is not what we want -->
    <script defer src="/js/app.js"></script>
</body>

</html>
