@page "/error"
<PageTitle>An unexpected error has occurred</PageTitle>
<NavBar />

<div class="section">
    <div class="container p-4">
        <h1 class="heading heading-1"><i class="fa-regular fa-face-frown"></i> Oops !!</h1>
        <p>
            Something went wrong. An unexpected error has occurred, and we’re working to fix it. Please try again later, or contact support if the problem persists.
        </p>
        <div class="flex justify-center gap-4">
            <a href="/" class="btn btn-primary">Go back to Home page</a>
            <a href="/" class="btn btn-secondary">Report an issue</a>
        </div>
    </div>
</div>
