@page "/"

<PageTitle>.NET Cameroon 🇨🇲 | Home</PageTitle>
<HeadContent>
    <!-- Open Graph meta tags -->
    <meta property="og:title" content=".NET Cameroon Community">
    <meta property="og:description" content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta property="og:image" content="https://dotnetcameroon.azurewebsites.net/assets/brand/logo.png">
    <meta property="og:url" content="https://dotnetcameroon.azurewebsites.net">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=".NET Cameroon Community">

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=".NET Cameroon Community">
    <meta name="twitter:description" content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
    <meta name="twitter:image" content="https://dotnetcameroon.azurewebsites.net/assets/brand/logo.png">
    <meta name="twitter:site" content="@@dotnetcameroon">

    <meta name="description" content="Welcome to the .NET Cameroon Community website! Join us to learn, share, and collaborate on .NET technologies. Stay updated with our latest events, resources, and news.">
</HeadContent>

<div>
    <!-- Hero Section -->
    <section class="relative h-[100svh] bg-[url(/assets/featured/carousel-1.png)] bg-cover bg-fixed">
        <NavBar Type=@NavType.Transparent />
        <div class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-black to-transparent opacity-70"></div>
        <div id="home" class="relative z-20 h-full container mx-auto p-8">
            <div class="lg:w-1/2 h-full flex flex-col justify-center md:gap-6 gap-4 md:translate-y-[-60px] translate-y-[-40px]">            
                <h1 class="text-white text-center md:text-start heading font-bold text-5xl md:text-7xl md:leading-[80px]">Community.<br>Open Source.<br>Innovative.<br>Continent 🇨🇲</h1>
                <p class="text-white text-center md:text-start leading-[35px]">.NET Cameroon is a group of passionate .NET enthusiasts based in Cameroon, committed to promoting Microsoft technologies and fostering interest in the local community.</p>
                <div class="flex gap-4 justify-center md:justify-start">
                    <a data-enhance-nav="false" href="/" class="btn btn-primary">Learn more</a>
                    <a data-enhance-nav="false" href="/" class="btn btn-secondary">Join us</a>
                </div>
            </div>
        </div>
    </section>

    <!-- What we do -->
    <section>
        <div class="section container mx-auto">
            <h1 class="heading heading-1">What we do ?</h1>
            <p class="md:w-2/3">At .NET Cameroon Community, we’re all about innovation, learning, and collaboration. Join us to sharpen your skills, connect with fellow developers, and make an impact through our dynamic activities.</p>
            <div class="flex gap-6 items-center justify-center flex-wrap mt-8">
                <ActivityCard ImageName="activities/activity-1.jpg" Title="Live Codings" Description="Join our live coding sessions to collaborate, learn, and solve coding challenges in real-time."/>
                <ActivityCard ImageName="activities/activity-2.jpeg" Title="Conferences and Meetups" Description="Connect with fellow developers through insightful talks, workshops, and networking opportunities."/>
                <ActivityCard ImageName="activities/activity-3.png" Link="https://github.com/dotnetcameroon" LinkText="Visit on GitHub" Title="Open Source Projects" Description="Contribute to impactful open source projects and collaborate with developers to make a difference."/>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="relative bg-[url(/assets/activities/membership.jpeg)] bg-cover bg-no-repeat">
        <div class="absolute z-10 top-0 left-0 w-full h-full bg-secondary md:bg-transparent md:bg-gradient-to-r md:from-secondary md:via-secondary/70 md:to-transparent"></div>
        <div class="relative z-20 section container mx-auto">
            <h1 class="heading heading-1 text-white">Benefits of membership</h1>
            <p class="md:w-2/3 text-white">The .NET ecosystem is rapidly evolving, bringing cutting-edge innovations and exciting opportunities for developers. By joining our community, you’ll be at the forefront of these changes, connecting with fellow enthusiasts who share your passion for .NET.</p>

            <div class="md:mt-6 md:w-[500px] flex flex-col gap-7">
                <div class="md:flex gap-6">
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">600+</h2>
                        <p class="text-white">Members in our <span class="font-bold">community groups</span></p>
                    </div>
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">2k+</h2>
                        <p class="text-white"><span class="font-bold">Followers</span> on our social media platforms</p>
                    </div>
                </div>
                <div class="md:flex gap-6">
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">60+</h2>
                        <p class="text-white">Events, meetups and conferences</p>
                    </div>
                    <div class="w-1/2">
                        <h2 class="heading heading-3 text-white">6+</h2>
                        <p class="text-white">Active <span class="font-bold">Open source</span> projects and libraries</p>
                    </div>
                </div>
            </div>

            <a data-enhance-nav="false" href="/" class="btn btn-outline-white mt-6 block size-fit">Become a member</a>
        </div>
    </section>

    <!-- Partners -->
    <section>
        <div class="section container mx-auto">
            <h1 class="heading heading-1 text-center">Our partners</h1>
            <p class="text-center">We work with various companies, startups and communities</p>
            <div class="flex flex-wrap gap-8 justify-center items-center mt-8">
                <a data-enhance-nav="false" href="/"><img src="/assets/sponsors/dotnetfondation.webp" alt=".NET Foundation" class="h-[100px]"/></a>
                <a data-enhance-nav="false" href="/"><img src="/assets/sponsors/packt.svg" alt="Packt" class="w-[200px]"/></a>
                <a data-enhance-nav="false" href="/"><img src="/assets/sponsors/proditech.png" alt="Proditech" class="h-[100px]"/></a>
                <a data-enhance-nav="false" href="/"><img src="/assets/sponsors/jetbrainslogo.png" alt="Jetbrains" class="w-[200px]"/></a>
            </div>
        </div>
    </section>
</div>
